[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pylint = "*"

[packages]
cattrs = "==1.1.2"
attrs = "==20.3.0"
typecats = {path = ".",editable = true}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
