[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
typing_extensions = ">=3.7.0"

[packages]
cattrs = "==1.9.0"
attrs = "==20.3.0"
typecats = {path = ".",editable = true}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
